spring:
  application:
    name: chinguDachi

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false
  docker:
    compose:
      lifecycle-management: start-and-stop

cors:
  allowed-origins:
    - "http://localhost:3000"

jwt:
  secret: "Y2hpbmd1ZGFjaGktand0LXNlY3JldC1rZXktZm9yLWxvY2FsLWRldi0yNTZiaXQ"
  access-token-expiry: 1h
  refresh-token-expiry: 30d
